.text-h1 {
  font: 700 2.125rem/1 "Signika", sans-serif;
}

.text-h2 {
  font: 700 1rem/1 "Signika", sans-serif;
}

.text-h3 {
  font: 700 0.875rem/2 "Signika", sans-serif;
}

.text-p {
  font: 400 1.125rem/1.5 "Fira Sans", sans-serif;
}
