/* Cores principais */
.text-h1 {
  font: 700 2.125rem/1 "Signika", sans-serif;
}

.text-h2 {
  font: 700 1rem/1 "Signika", sans-serif;
}

.text-h3 {
  font: 700 0.875rem/2 "Signika", sans-serif;
}

.text-p {
  font: 400 1.125rem/1.5 "Fira Sans", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #e8dbd5;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 52px;
  border-bottom: 2px solid rgba(82, 78, 78, 0.2);
}

.header-lista {
  display: flex;
  gap: 60px;
  color: #551b0f;
}

.header-icons {
  display: flex;
  gap: 30px;
}

@media (max-width: 800px) {
  .header {
    flex-direction: column;
    gap: 32px;
  }
  .header-lista li {
    background: #551b0f;
    color: #fff;
    padding: 8px;
    border-radius: 8px;
  }
}
.container-principal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px;
}

.galeria-destaque {
  padding-top: 100px;
  width: 560px;
  height: 560px;
  position: relative;
  z-index: 1;
}

.galeria-destaque img,
.galeria-alternativo img {
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
}

.galeria-alternativo {
  margin-top: 20px;
  width: 100px;
  height: 100px;
  display: flex;
  gap: 16px;
}

.principal-conteudo p {
  padding: 28px 0px;
  color: #78341c;
}

.principal-conteudo h2 {
  text-decoration: line-through;
  color: #c49070;
}

.principal-conteudo h1,
h3 {
  color: #551b0f;
}

.promo {
  position: relative;
}

.promo::after {
  content: "25%";
  text-align: center;
  font: 700 1rem/1.5 "Fira Sans", sans-serif;
  padding: 4px;
  border-radius: 4px;
  width: 40px;
  background: #9b5c39;
  color: #fff;
  position: absolute;
}

.botoes {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 20px;
}

.item-qtd {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 8px;
  border-radius: 8px;
  background: #DABCB2;
}

.qtd-btn {
  background-color: transparent;
  border: none;
}

.menos,
.mais {
  color: #551b0f !important;
  font: 700 2rem/1 "Fira Sans", sans-serif;
  cursor: pointer;
}

.qtd-input {
  background-color: transparent;
  border: none;
  max-width: 40px;
  height: 54px;
  text-align: center;
  color: #551b0f !important;
  font: 700 2rem/1 "Fira Sans", sans-serif;
}

.item-carrinho {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: #551b0f;
  border-radius: 8px;
}

.item-carrinho p {
  color: #fff;
  font: 700 1.125rem "Fira Sans", sans-serif;
}

@media (max-width: 800px) {
  .container-principal {
    grid-template-columns: 1fr;
  }
  .galeria-destaque {
    width: 100%;
    height: 100%;
  }
  .galeria-alternativo {
    width: 100%;
    height: 200px;
    overflow-x: scroll;
    cursor: pointer;
  }
  .galeria-alternativo::-webkit-scrollbar {
    border-radius: 8px;
  }
  .galeria-alternativo::-webkit-scrollbar-thumb {
    background-color: #9b5c39;
    border-radius: 10px;
  }
  .galeria-alternativo::-webkit-scrollbar-thumb:hover {
    background-color: #c49070;
  }
  .galeria-alternativo img {
    padding-bottom: 8px;
  }
}
.principal-conteudo section {
  display: none;
}

.principal-conteudo section.ativo {
  display: block !important;
  animation: show 0.5s forwards;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.galeria-destaque img {
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.2s ease-out;
}

.foco {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
  display: none;
}/*# sourceMappingURL=style.css.map */